<a href="https://colab.research.google.com/github/dlwltn98/tensorflow_study/blob/master/Deep_Learning2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. 보스턴 집값 예측



*   보스턴 : https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 1. 과거의 데이터를 준비
file_path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(file_path)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 독립변수, 종속 변수 분리
독립 = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = boston[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [ ]:
# 2. 모델의 구조 만들기
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [ ]:
# 3. 데이터 모델을 학습(FIT)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 27.8228
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 27.5922
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 27.3587
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 27.8078
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 27.1961
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 27.5864
Epoch 7/10
16/16 [==============================] - 0s 966us/step - loss: 27.4329
Epoch 8/10
16/16 [==============================] - 0s 991us/step - loss: 28.0660
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 27.5379
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 27.5692

In [ ]:
# 4. 모델을 이용
# 5부터 10번째까지 사용
model.predict(독립[5:10])

array([[26.951046],
       [21.501484],
       [18.357101],
       [ 9.590441],
       [18.058823]], dtype=float32)

In [ ]:
# [0:5] => 슬라이싱
종속[5:10]

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [ ]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.08543812],
        [ 0.08109492],
        [-0.06321321],
        [ 3.5923374 ],
        [ 2.1025233 ],
        [ 3.5043557 ],
        [ 0.02606923],
        [-0.83806664],
        [ 0.13778445],
        [-0.0083717 ],
        [ 0.13718341],
        [ 0.01709916],
        [-0.6197473 ]], dtype=float32), array([2.515301], dtype=float32)]

In [ ]:
집값 = -0.09253382 * x1 + 0.05048407 * x2 + -0.03323708 * x3 + 2.7112598 * x4 +
       1.010369 * x5 + 5.3556046 * x6 + -0.01135556 * x7 + -0.9961182 * x8 + 
       0.18329626 * x9 + -0.01083524 * x10 + -0.43319786 * x11 + 0.01336813 * x12 +
       -0.46219617 * x13 + 4.378936