# 1. 레모네이드 판매 예측 모델


* 레모네이드 : https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv

In [ ]:
!git clone https://github.com/dlwltn98/tensorflow_study.git

Cloning into 'tensorflow_study'...
warning: You appear to have cloned an empty repository.

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 데이터 준비
file_path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
data = pd.read_csv(file_path)
data.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
# 종속 변수와 독립 변수로 구분
독립 = data[['온도']]
종속 = data[['판매량']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

In [ ]:
# 모델을 만든다.
X = tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [ ]:
# 모델 학습
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 4ms/step - loss: 1.2456
Epoch 2/10
1/1 [==============================] - 0s 5ms/step - loss: 1.2014
Epoch 3/10
1/1 [==============================] - 0s 6ms/step - loss: 1.1582
Epoch 4/10
1/1 [==============================] - 0s 4ms/step - loss: 1.1159
Epoch 5/10
1/1 [==============================] - 0s 5ms/step - loss: 1.0745
Epoch 6/10
1/1 [==============================] - 0s 4ms/step - loss: 1.0340
Epoch 7/10
1/1 [==============================] - 0s 5ms/step - loss: 0.9944
Epoch 8/10
1/1 [==============================] - 0s 4ms/step - loss: 0.9557
Epoch 9/10
1/1 [==============================] - 0s 4ms/step - loss: 0.9179
Epoch 10/10
1/1 [==============================] - 0s 4ms/step - loss: 0.8810

In [ ]:
# 모델 이용
model.predict(독립)

array([[39.304295],
       [41.219486],
       [43.134674],
       [45.049862],
       [46.965054],
       [48.880245]], dtype=float32)

In [ ]:
종속

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [ ]:
# 내일 15도 라면 몇개의 레모네이드가 팔릴것인가
model.predict([[15]])

array([[29.728346]], dtype=float32)