<a href="https://colab.research.google.com/github/dlwltn98/tensorflow_study/blob/master/tensorflow2_CNN/CNN_ex2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Flatten Layer를 활용한 이미지 학습**

In [ ]:
import tensorflow as tf
import pandas as pd

**with reshape**

In [ ]:
# 데이터를 준비
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
(60000, 28, 28) (60000,)

In [ ]:
독립 = 독립.reshape(60000, 784)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 784) (60000, 10)

In [ ]:
# 모델 만들기
X = tf.keras.layers.Input(shape=[784])
H = tf.keras.layers.Dense(84, activation='swish')(X)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [ ]:
# 모델 학습하기
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 2ms/step - loss: 7.3120 - accuracy: 0.7989
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.6039 - accuracy: 0.9153
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4489 - accuracy: 0.9314
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4302 - accuracy: 0.9378
Epoch 5/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4064 - accuracy: 0.9440
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3920 - accuracy: 0.9474
Epoch 7/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3525 - accuracy: 0.9484
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3582 - accuracy: 0.9524
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3313 - accuracy: 0.9526
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3143 - accuracy: 0.9562

In [ ]:
# 모델 이용
model.predict(독립[:5])

array([[0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 8.8513659e-09,
        0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        0.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        0.0000000e+00, 0.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        0.0000000e+00, 0.0000000e+00],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 3.7285792e-33,
        0.0000000e+00, 4.3152736e-33, 0.0000000e+00, 2.3547172e-34,
        2.0115030e-32, 0.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 8.7358164e-18,
        1.9558800e-06, 2.5273429e-14, 0.0000000e+00, 8.6339436e-10,
        9.2289408e-17, 9.9999809e-01]], dtype=float32)

In [ ]:
pred = model.predict(독립[:5])
pd.DataFrame(pred).round(2)
# round(2) -> 소수점 둘째자리에서 반올림

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [ ]:
종속[:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

**with flatten**

In [ ]:
# 데이터 준비
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [ ]:
# 모델 만들기
X = tf.keras.layers.Input(shape=[28, 28])
H = tf.keras.layers.Flatten()(X)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [ ]:
# 모델 학습
model.fit(독립, 종속, epochs=5)

Epoch 1/5
1875/1875 [==============================] - 4s 2ms/step - loss: 7.3965 - accuracy: 0.7958
Epoch 2/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5496 - accuracy: 0.9147
Epoch 3/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4685 - accuracy: 0.9288
Epoch 4/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4090 - accuracy: 0.9390
Epoch 5/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3622 - accuracy: 0.9415

In [ ]:
# 모델 이용
pred = model.predict(독립[:5])
pd.DataFrame(pred).round(2)

     0     1    2    3     4    5    6    7    8    9
0  0.0  0.00  0.0  0.0  0.00  1.0  0.0  0.0  0.0  0.0
1  1.0  0.00  0.0  0.0  0.00  0.0  0.0  0.0  0.0  0.0
2  0.0  0.03  0.0  0.0  0.97  0.0  0.0  0.0  0.0  0.0
3  0.0  1.00  0.0  0.0  0.00  0.0  0.0  0.0  0.0  0.0
4  0.0  0.00  0.0  0.0  0.00  0.0  0.0  0.0  0.0  1.0

In [ ]:
종속[:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1